/** 
 * My own style, based on HTML5Boilerplate standard style.
 */
@import url(../css/style.css);


/**
 * Structure
 */
html {
  overflow-y:scroll;
}

body {
  background-color:#fff;
  color:#333;
}

#above {
	background-color:#2F2F2F;
  border-bottom:1px solid #000;
  margin-bottom:4px;
  padding-left:1em;
  color:#2153A2;
  font-size:0.7em;
}

#header,
#main,
#footer {
  margin:8px auto;
  padding:1em;
  width:970px;
  background-color:#fff;
  border:3px solid #000;
  border-radius: 10px;
} 

#header {
	 background-color:#10284E;
	
	 }

#main {
  min-height:20em;
  
}

#footer {
  font-size:0.9em;
}

#footer,
#footer a {color:#666;}
#footer a:hover {color:#333; text-decoration:none;}

#banner {
  display:table;
  margin-bottom:10px;
}

.site-logo,
.site-title,
.site-slogan {
	Font-family: Calibri, Verdana, Ariel, sans-serif;
/*  display:table-cell;
  width:inherit;
  vertical-align:middle;
  text-align:left;*/ 
}

.site-title {
  position: absolute;
  top: -90px;
  left: 350px;
  font:bold 30px Arial, serif;
  font-size: 7em;
  color: #2153A2;
  text-shadow:#000 4px 4px 4px;
}

.site-slogan {
  position: absolute;
  top: 110px;
  left: 700px;
  font-weight: bold;
  text-shadow:#000 4px 4px 4px;
  font-size: 20px;
  color:#2153A2;
}

.sitelogo {
  position: absolute;
  top: 5px;
  left:0px;
}

/**
.site-logo {}
.site-title {
	
	font-weight: bold;
  line-height:0;
  font-size:6em;
  padding-left:10px;
  color:#333;
  text-shadow:#ccc 4px -4px 4px;
}
.site-slogan {
  padding-left:20px;
  font-style:italic;
}
**/

/**
 * Navbar
 */
#navbar {
  font-family: arial;
  font-weight: bold;
  padding: 2px 8px;
  background:#2153A2;
  border:3px solid #000;
}
#navbar a {padding:10px 8px;text-decoration:none;border:2px solid transparent;color:#10134E;}

#navbar a:hover{background:#10284E;border:2px solid #000; color:#2153A2; text-shadow: 0 0 0.2em #333, 0 0 0.2em #333, 0 0 0.2em #333;}
	
#navbar a.selected{background:#10284E;border:2px solid #000; color:#2153A2; text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;}


/**
 * Fonts
 */
h1{text-transform:uppercase;}
h1,h2{
  border-bottom:1px solid #dddddd;
} 


/**
 * Links
 */
a,
a:visited {
  color:#A84C00;
}


/**
 * Figure and images
 */
figure {
  display: table;
  width:1px;
  border: 2px solid #eee;
  margin:1em;
  padding:2px;
}

img, figcaption {
  display: table-row;
  vertical-align: bottom;
}

a figcaption,
figcaption {
  font-style:italic;
  font-size:smaller;
  color:#666;
}

figure.right{margin-right:0;}
figure.top{margin-top:0;}
figure.fullwidth{margin-left:0;margin-right:0;}

a:hover figure {
  background-color:#eee;
  border:2px solid #999;
}


/**
 * byline & signature
 */
.byline {
  clear: both;
  border-top: 1px dashed #999;
  margin-top:2em;
  padding: 1em;
  color: #666;
  font-size: smaller;
  font-style:italic;
}

.byline img {padding:2px;outline:#999 groove 1px;}


/**
 * Misc classes
 */
.right {float:right;} 
